--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (6bc9ef8)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: neon_auth; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

CREATE SCHEMA neon_auth;


ALTER SCHEMA neon_auth OWNER TO neondb_owner;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users_sync; Type: TABLE; Schema: neon_auth; Owner: neondb_owner
--

CREATE TABLE neon_auth.users_sync (
    raw_json jsonb NOT NULL,
    id text GENERATED ALWAYS AS ((raw_json ->> 'id'::text)) STORED NOT NULL,
    name text GENERATED ALWAYS AS ((raw_json ->> 'display_name'::text)) STORED,
    email text GENERATED ALWAYS AS ((raw_json ->> 'primary_email'::text)) STORED,
    created_at timestamp with time zone GENERATED ALWAYS AS (to_timestamp((trunc((((raw_json ->> 'signed_up_at_millis'::text))::bigint)::double precision) / (1000)::double precision))) STORED,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE neon_auth.users_sync OWNER TO neondb_owner;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.achievements (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    sales_goal integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.achievements OWNER TO neondb_owner;

--
-- Name: achievements_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.achievements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.achievements_id_seq OWNER TO neondb_owner;

--
-- Name: achievements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.achievements_id_seq OWNED BY public.achievements.id;


--
-- Name: api_requests; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.api_requests (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    endpoint text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.api_requests OWNER TO neondb_owner;

--
-- Name: api_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.api_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.api_requests_id_seq OWNER TO neondb_owner;

--
-- Name: api_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.api_requests_id_seq OWNED BY public.api_requests.id;


--
-- Name: broadcasts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.broadcasts (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    bot_id integer NOT NULL,
    message_text text NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    total_recipients integer DEFAULT 0,
    sent_count integer DEFAULT 0,
    recovered_leads integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp with time zone
);


ALTER TABLE public.broadcasts OWNER TO neondb_owner;

--
-- Name: broadcasts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.broadcasts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.broadcasts_id_seq OWNER TO neondb_owner;

--
-- Name: broadcasts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.broadcasts_id_seq OWNED BY public.broadcasts.id;


--
-- Name: checkout_pixels; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.checkout_pixels (
    checkout_id integer NOT NULL,
    pixel_config_id integer NOT NULL
);


ALTER TABLE public.checkout_pixels OWNER TO neondb_owner;

--
-- Name: checkouts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.checkouts (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    name character varying(255) NOT NULL,
    product_name character varying(255) NOT NULL,
    product_description text,
    product_image_url character varying(255),
    redirect_url character varying(255) NOT NULL,
    value_type character varying(20) DEFAULT 'fixed'::character varying NOT NULL,
    fixed_value_cents integer,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.checkouts OWNER TO neondb_owner;

--
-- Name: checkouts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.checkouts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.checkouts_id_seq OWNER TO neondb_owner;

--
-- Name: checkouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.checkouts_id_seq OWNED BY public.checkouts.id;


--
-- Name: clicks; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.clicks (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    pressel_id integer,
    click_id character varying(255),
    ip_address character varying(45),
    user_agent text,
    referer text,
    city character varying(255),
    state character varying(255),
    fbclid text,
    fbp text,
    fbc text,
    utm_source text,
    utm_campaign text,
    utm_medium text,
    utm_content text,
    utm_term text,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp with time zone DEFAULT now(),
    checkout_id character varying(255)
);


ALTER TABLE public.clicks OWNER TO neondb_owner;

--
-- Name: clicks_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.clicks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clicks_id_seq OWNER TO neondb_owner;

--
-- Name: clicks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.clicks_id_seq OWNED BY public.clicks.id;


--
-- Name: flow_nodes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.flow_nodes (
    id integer NOT NULL,
    flow_id integer NOT NULL,
    node_type character varying(50) NOT NULL,
    content jsonb NOT NULL,
    is_first_node boolean DEFAULT false
);


ALTER TABLE public.flow_nodes OWNER TO neondb_owner;

--
-- Name: flow_nodes_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.flow_nodes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.flow_nodes_id_seq OWNER TO neondb_owner;

--
-- Name: flow_nodes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.flow_nodes_id_seq OWNED BY public.flow_nodes.id;


--
-- Name: flow_timeouts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.flow_timeouts (
    id integer NOT NULL,
    chat_id bigint NOT NULL,
    bot_id integer NOT NULL,
    execute_at timestamp with time zone NOT NULL,
    target_node_id character varying(255) NOT NULL,
    variables jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.flow_timeouts OWNER TO neondb_owner;

--
-- Name: flow_timeouts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.flow_timeouts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.flow_timeouts_id_seq OWNER TO neondb_owner;

--
-- Name: flow_timeouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.flow_timeouts_id_seq OWNED BY public.flow_timeouts.id;


--
-- Name: flows; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.flows (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    bot_id integer NOT NULL,
    name character varying(255) NOT NULL,
    trigger_keyword character varying(100),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    nodes jsonb
);


ALTER TABLE public.flows OWNER TO neondb_owner;

--
-- Name: flows_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.flows_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.flows_id_seq OWNER TO neondb_owner;

--
-- Name: flows_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.flows_id_seq OWNED BY public.flows.id;


--
-- Name: hosted_checkouts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.hosted_checkouts (
    id character varying(255) NOT NULL,
    seller_id integer NOT NULL,
    config jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.hosted_checkouts OWNER TO neondb_owner;

--
-- Name: mass_send_details; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.mass_send_details (
    id integer NOT NULL,
    mass_send_id integer NOT NULL,
    chat_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    details text,
    sent_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.mass_send_details OWNER TO neondb_owner;

--
-- Name: mass_send_details_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.mass_send_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mass_send_details_id_seq OWNER TO neondb_owner;

--
-- Name: mass_send_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.mass_send_details_id_seq OWNED BY public.mass_send_details.id;


--
-- Name: mass_sends; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.mass_sends (
    id integer NOT NULL,
    seller_id integer,
    bot_id integer,
    message_content text NOT NULL,
    button_text character varying(255),
    button_url character varying(2048),
    success_count integer DEFAULT 0,
    failure_count integer DEFAULT 0,
    sent_at timestamp with time zone DEFAULT now(),
    pix_code text,
    image_url text
);


ALTER TABLE public.mass_sends OWNER TO neondb_owner;

--
-- Name: mass_sends_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.mass_sends_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mass_sends_id_seq OWNER TO neondb_owner;

--
-- Name: mass_sends_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.mass_sends_id_seq OWNED BY public.mass_sends.id;


--
-- Name: pix_transactions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.pix_transactions (
    id integer NOT NULL,
    click_id_internal integer NOT NULL,
    pix_id text,
    provider_transaction_id text,
    pix_value numeric(10,2),
    qr_code_text text,
    qr_code_base64 text,
    status character varying(50) DEFAULT 'pending'::character varying,
    provider character varying(50),
    meta_event_id text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    paid_at timestamp with time zone,
    internal_identifier character varying(255)
);


ALTER TABLE public.pix_transactions OWNER TO neondb_owner;

--
-- Name: pix_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.pix_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pix_transactions_id_seq OWNER TO neondb_owner;

--
-- Name: pix_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.pix_transactions_id_seq OWNED BY public.pix_transactions.id;


--
-- Name: pixel_configurations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.pixel_configurations (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    account_name character varying(255) NOT NULL,
    pixel_id character varying(255) NOT NULL,
    meta_api_token text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pixel_configurations OWNER TO neondb_owner;

--
-- Name: pixel_configurations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.pixel_configurations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pixel_configurations_id_seq OWNER TO neondb_owner;

--
-- Name: pixel_configurations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.pixel_configurations_id_seq OWNED BY public.pixel_configurations.id;


--
-- Name: playing_with_neon; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.playing_with_neon (
    id integer NOT NULL,
    name text NOT NULL,
    value real
);


ALTER TABLE public.playing_with_neon OWNER TO neondb_owner;

--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.playing_with_neon_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.playing_with_neon_id_seq OWNER TO neondb_owner;

--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.playing_with_neon_id_seq OWNED BY public.playing_with_neon.id;


--
-- Name: pressel_pixels; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.pressel_pixels (
    pressel_id integer NOT NULL,
    pixel_config_id integer NOT NULL
);


ALTER TABLE public.pressel_pixels OWNER TO neondb_owner;

--
-- Name: pressels; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.pressels (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    name character varying(255) NOT NULL,
    bot_id integer NOT NULL,
    bot_name character varying(255) NOT NULL,
    white_page_url text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    utmify_integration_id integer
);


ALTER TABLE public.pressels OWNER TO neondb_owner;

--
-- Name: pressels_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.pressels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pressels_id_seq OWNER TO neondb_owner;

--
-- Name: pressels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.pressels_id_seq OWNED BY public.pressels.id;


--
-- Name: sellers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.sellers (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    api_key uuid NOT NULL,
    pushinpay_token text,
    cnpay_public_key text,
    cnpay_secret_key text,
    oasyfy_public_key text,
    oasyfy_secret_key text,
    pix_provider_primary character varying(50) DEFAULT 'pushinpay'::character varying,
    pix_provider_secondary character varying(50),
    pix_provider_tertiary character varying(50),
    utmify_api_token text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    has_recuperador_access boolean DEFAULT false,
    phone_number character varying(255),
    syncpay_client_id text,
    syncpay_client_secret text,
    brpix_secret_key character varying(255),
    brpix_company_id character varying(255),
    commission_rate numeric(5,4) DEFAULT 0.0299 NOT NULL
);


ALTER TABLE public.sellers OWNER TO neondb_owner;

--
-- Name: sellers_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.sellers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sellers_id_seq OWNER TO neondb_owner;

--
-- Name: sellers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.sellers_id_seq OWNED BY public.sellers.id;


--
-- Name: telegram_bots; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.telegram_bots (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    bot_name character varying(255) NOT NULL,
    bot_token text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    engine_type character varying(50) DEFAULT 'manychat'::character varying
);


ALTER TABLE public.telegram_bots OWNER TO neondb_owner;

--
-- Name: telegram_bots_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.telegram_bots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telegram_bots_id_seq OWNER TO neondb_owner;

--
-- Name: telegram_bots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.telegram_bots_id_seq OWNED BY public.telegram_bots.id;


--
-- Name: telegram_chats; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.telegram_chats (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    bot_id integer NOT NULL,
    chat_id bigint NOT NULL,
    first_name character varying(255),
    username character varying(255),
    last_message_text text,
    last_message_at timestamp with time zone,
    user_id bigint,
    last_name character varying(255),
    click_id character varying(255),
    created_at timestamp with time zone DEFAULT now(),
    message_id bigint,
    message_text text,
    sender_type character varying(10) DEFAULT 'user'::character varying NOT NULL
);


ALTER TABLE public.telegram_chats OWNER TO neondb_owner;

--
-- Name: telegram_chats_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.telegram_chats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telegram_chats_id_seq OWNER TO neondb_owner;

--
-- Name: telegram_chats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.telegram_chats_id_seq OWNED BY public.telegram_chats.id;


--
-- Name: telegram_messages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.telegram_messages (
    id integer NOT NULL,
    chat_record_id integer NOT NULL,
    message_id bigint NOT NULL,
    text text,
    direction character varying(10) NOT NULL,
    sent_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.telegram_messages OWNER TO neondb_owner;

--
-- Name: telegram_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.telegram_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telegram_messages_id_seq OWNER TO neondb_owner;

--
-- Name: telegram_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.telegram_messages_id_seq OWNED BY public.telegram_messages.id;


--
-- Name: thank_you_pages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.thank_you_pages (
    id character varying(50) NOT NULL,
    seller_id integer,
    config jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.thank_you_pages OWNER TO neondb_owner;

--
-- Name: user_achievements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_achievements (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    achievement_id integer NOT NULL,
    is_completed boolean DEFAULT false,
    completion_date timestamp with time zone
);


ALTER TABLE public.user_achievements OWNER TO neondb_owner;

--
-- Name: user_achievements_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.user_achievements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_achievements_id_seq OWNER TO neondb_owner;

--
-- Name: user_achievements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.user_achievements_id_seq OWNED BY public.user_achievements.id;


--
-- Name: user_flow_states; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_flow_states (
    id integer NOT NULL,
    chat_id bigint NOT NULL,
    bot_id integer NOT NULL,
    current_node_id character varying(255),
    variables jsonb DEFAULT '{}'::jsonb,
    waiting_for_input character varying(255),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_flow_states OWNER TO neondb_owner;

--
-- Name: user_flow_states_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.user_flow_states_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_flow_states_id_seq OWNER TO neondb_owner;

--
-- Name: user_flow_states_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.user_flow_states_id_seq OWNED BY public.user_flow_states.id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_sessions (
    id integer NOT NULL,
    chat_id bigint NOT NULL,
    bot_id integer NOT NULL,
    current_flow_id integer,
    current_node_id integer,
    session_data jsonb DEFAULT '{}'::jsonb,
    last_interaction timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_sessions OWNER TO neondb_owner;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.user_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_sessions_id_seq OWNER TO neondb_owner;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: utmify_integrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.utmify_integrations (
    id integer NOT NULL,
    seller_id integer NOT NULL,
    account_name character varying(255) NOT NULL,
    api_token character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.utmify_integrations OWNER TO neondb_owner;

--
-- Name: utmify_integrations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.utmify_integrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utmify_integrations_id_seq OWNER TO neondb_owner;

--
-- Name: utmify_integrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.utmify_integrations_id_seq OWNED BY public.utmify_integrations.id;


--
-- Name: achievements id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.achievements ALTER COLUMN id SET DEFAULT nextval('public.achievements_id_seq'::regclass);


--
-- Name: api_requests id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_requests ALTER COLUMN id SET DEFAULT nextval('public.api_requests_id_seq'::regclass);


--
-- Name: broadcasts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.broadcasts ALTER COLUMN id SET DEFAULT nextval('public.broadcasts_id_seq'::regclass);


--
-- Name: checkouts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.checkouts ALTER COLUMN id SET DEFAULT nextval('public.checkouts_id_seq'::regclass);


--
-- Name: clicks id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.clicks ALTER COLUMN id SET DEFAULT nextval('public.clicks_id_seq'::regclass);


--
-- Name: flow_nodes id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flow_nodes ALTER COLUMN id SET DEFAULT nextval('public.flow_nodes_id_seq'::regclass);


--
-- Name: flow_timeouts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flow_timeouts ALTER COLUMN id SET DEFAULT nextval('public.flow_timeouts_id_seq'::regclass);


--
-- Name: flows id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flows ALTER COLUMN id SET DEFAULT nextval('public.flows_id_seq'::regclass);


--
-- Name: mass_send_details id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mass_send_details ALTER COLUMN id SET DEFAULT nextval('public.mass_send_details_id_seq'::regclass);


--
-- Name: mass_sends id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mass_sends ALTER COLUMN id SET DEFAULT nextval('public.mass_sends_id_seq'::regclass);


--
-- Name: pix_transactions id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pix_transactions ALTER COLUMN id SET DEFAULT nextval('public.pix_transactions_id_seq'::regclass);


--
-- Name: pixel_configurations id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pixel_configurations ALTER COLUMN id SET DEFAULT nextval('public.pixel_configurations_id_seq'::regclass);


--
-- Name: playing_with_neon id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.playing_with_neon ALTER COLUMN id SET DEFAULT nextval('public.playing_with_neon_id_seq'::regclass);


--
-- Name: pressels id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pressels ALTER COLUMN id SET DEFAULT nextval('public.pressels_id_seq'::regclass);


--
-- Name: sellers id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sellers ALTER COLUMN id SET DEFAULT nextval('public.sellers_id_seq'::regclass);


--
-- Name: telegram_bots id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_bots ALTER COLUMN id SET DEFAULT nextval('public.telegram_bots_id_seq'::regclass);


--
-- Name: telegram_chats id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_chats ALTER COLUMN id SET DEFAULT nextval('public.telegram_chats_id_seq'::regclass);


--
-- Name: telegram_messages id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_messages ALTER COLUMN id SET DEFAULT nextval('public.telegram_messages_id_seq'::regclass);


--
-- Name: user_achievements id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_achievements ALTER COLUMN id SET DEFAULT nextval('public.user_achievements_id_seq'::regclass);


--
-- Name: user_flow_states id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_flow_states ALTER COLUMN id SET DEFAULT nextval('public.user_flow_states_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Name: utmify_integrations id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.utmify_integrations ALTER COLUMN id SET DEFAULT nextval('public.utmify_integrations_id_seq'::regclass);


--
-- Name: users_sync users_sync_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neondb_owner
--

ALTER TABLE ONLY neon_auth.users_sync
    ADD CONSTRAINT users_sync_pkey PRIMARY KEY (id);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: api_requests api_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_requests
    ADD CONSTRAINT api_requests_pkey PRIMARY KEY (id);


--
-- Name: broadcasts broadcasts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT broadcasts_pkey PRIMARY KEY (id);


--
-- Name: checkout_pixels checkout_pixels_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.checkout_pixels
    ADD CONSTRAINT checkout_pixels_pkey PRIMARY KEY (checkout_id, pixel_config_id);


--
-- Name: checkouts checkouts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.checkouts
    ADD CONSTRAINT checkouts_pkey PRIMARY KEY (id);


--
-- Name: clicks clicks_click_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.clicks
    ADD CONSTRAINT clicks_click_id_key UNIQUE (click_id);


--
-- Name: clicks clicks_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.clicks
    ADD CONSTRAINT clicks_pkey PRIMARY KEY (id);


--
-- Name: flow_nodes flow_nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flow_nodes
    ADD CONSTRAINT flow_nodes_pkey PRIMARY KEY (id);


--
-- Name: flow_timeouts flow_timeouts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flow_timeouts
    ADD CONSTRAINT flow_timeouts_pkey PRIMARY KEY (id);


--
-- Name: flows flows_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flows
    ADD CONSTRAINT flows_pkey PRIMARY KEY (id);


--
-- Name: flows flows_trigger_keyword_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flows
    ADD CONSTRAINT flows_trigger_keyword_key UNIQUE (trigger_keyword);


--
-- Name: hosted_checkouts hosted_checkouts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.hosted_checkouts
    ADD CONSTRAINT hosted_checkouts_pkey PRIMARY KEY (id);


--
-- Name: mass_send_details mass_send_details_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mass_send_details
    ADD CONSTRAINT mass_send_details_pkey PRIMARY KEY (id);


--
-- Name: mass_sends mass_sends_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mass_sends
    ADD CONSTRAINT mass_sends_pkey PRIMARY KEY (id);


--
-- Name: pix_transactions pix_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pix_transactions
    ADD CONSTRAINT pix_transactions_pkey PRIMARY KEY (id);


--
-- Name: pixel_configurations pixel_configurations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pixel_configurations
    ADD CONSTRAINT pixel_configurations_pkey PRIMARY KEY (id);


--
-- Name: pixel_configurations pixel_configurations_seller_id_pixel_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pixel_configurations
    ADD CONSTRAINT pixel_configurations_seller_id_pixel_id_key UNIQUE (seller_id, pixel_id);


--
-- Name: playing_with_neon playing_with_neon_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.playing_with_neon
    ADD CONSTRAINT playing_with_neon_pkey PRIMARY KEY (id);


--
-- Name: pressel_pixels pressel_pixels_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pressel_pixels
    ADD CONSTRAINT pressel_pixels_pkey PRIMARY KEY (pressel_id, pixel_config_id);


--
-- Name: pressels pressels_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pressels
    ADD CONSTRAINT pressels_pkey PRIMARY KEY (id);


--
-- Name: sellers sellers_api_key_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_api_key_key UNIQUE (api_key);


--
-- Name: sellers sellers_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_email_key UNIQUE (email);


--
-- Name: sellers sellers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_pkey PRIMARY KEY (id);


--
-- Name: telegram_bots telegram_bots_bot_token_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_bots
    ADD CONSTRAINT telegram_bots_bot_token_key UNIQUE (bot_token);


--
-- Name: telegram_bots telegram_bots_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_bots
    ADD CONSTRAINT telegram_bots_pkey PRIMARY KEY (id);


--
-- Name: telegram_bots telegram_bots_seller_id_bot_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_bots
    ADD CONSTRAINT telegram_bots_seller_id_bot_name_key UNIQUE (seller_id, bot_name);


--
-- Name: telegram_chats telegram_chats_chat_id_message_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_chats
    ADD CONSTRAINT telegram_chats_chat_id_message_id_key UNIQUE (chat_id, message_id);


--
-- Name: telegram_chats telegram_chats_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_chats
    ADD CONSTRAINT telegram_chats_pkey PRIMARY KEY (id);


--
-- Name: telegram_messages telegram_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_messages
    ADD CONSTRAINT telegram_messages_pkey PRIMARY KEY (id);


--
-- Name: thank_you_pages thank_you_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.thank_you_pages
    ADD CONSTRAINT thank_you_pages_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_seller_id_achievement_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_seller_id_achievement_id_key UNIQUE (seller_id, achievement_id);


--
-- Name: user_flow_states user_flow_states_chat_id_bot_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_flow_states
    ADD CONSTRAINT user_flow_states_chat_id_bot_id_key UNIQUE (chat_id, bot_id);


--
-- Name: user_flow_states user_flow_states_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_flow_states
    ADD CONSTRAINT user_flow_states_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_chat_id_bot_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_chat_id_bot_id_key UNIQUE (chat_id, bot_id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: utmify_integrations utmify_integrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.utmify_integrations
    ADD CONSTRAINT utmify_integrations_pkey PRIMARY KEY (id);


--
-- Name: users_sync_deleted_at_idx; Type: INDEX; Schema: neon_auth; Owner: neondb_owner
--

CREATE INDEX users_sync_deleted_at_idx ON neon_auth.users_sync USING btree (deleted_at);


--
-- Name: idx_flow_timeouts_execute_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_flow_timeouts_execute_at ON public.flow_timeouts USING btree (execute_at);


--
-- Name: idx_thank_you_pages_seller_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_thank_you_pages_seller_id ON public.thank_you_pages USING btree (seller_id);


--
-- Name: api_requests api_requests_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_requests
    ADD CONSTRAINT api_requests_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: broadcasts broadcasts_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT broadcasts_bot_id_fkey FOREIGN KEY (bot_id) REFERENCES public.telegram_bots(id) ON DELETE CASCADE;


--
-- Name: broadcasts broadcasts_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT broadcasts_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: checkout_pixels checkout_pixels_checkout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.checkout_pixels
    ADD CONSTRAINT checkout_pixels_checkout_id_fkey FOREIGN KEY (checkout_id) REFERENCES public.checkouts(id) ON DELETE CASCADE;


--
-- Name: checkout_pixels checkout_pixels_pixel_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.checkout_pixels
    ADD CONSTRAINT checkout_pixels_pixel_config_id_fkey FOREIGN KEY (pixel_config_id) REFERENCES public.pixel_configurations(id) ON DELETE CASCADE;


--
-- Name: checkouts checkouts_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.checkouts
    ADD CONSTRAINT checkouts_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: clicks clicks_pressel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.clicks
    ADD CONSTRAINT clicks_pressel_id_fkey FOREIGN KEY (pressel_id) REFERENCES public.pressels(id) ON DELETE CASCADE;


--
-- Name: clicks clicks_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.clicks
    ADD CONSTRAINT clicks_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: flow_nodes flow_nodes_flow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flow_nodes
    ADD CONSTRAINT flow_nodes_flow_id_fkey FOREIGN KEY (flow_id) REFERENCES public.flows(id) ON DELETE CASCADE;


--
-- Name: flows flows_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flows
    ADD CONSTRAINT flows_bot_id_fkey FOREIGN KEY (bot_id) REFERENCES public.telegram_bots(id) ON DELETE CASCADE;


--
-- Name: flows flows_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flows
    ADD CONSTRAINT flows_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: hosted_checkouts hosted_checkouts_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.hosted_checkouts
    ADD CONSTRAINT hosted_checkouts_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: mass_send_details mass_send_details_mass_send_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mass_send_details
    ADD CONSTRAINT mass_send_details_mass_send_id_fkey FOREIGN KEY (mass_send_id) REFERENCES public.mass_sends(id) ON DELETE CASCADE;


--
-- Name: mass_sends mass_sends_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mass_sends
    ADD CONSTRAINT mass_sends_bot_id_fkey FOREIGN KEY (bot_id) REFERENCES public.telegram_bots(id) ON DELETE CASCADE;


--
-- Name: mass_sends mass_sends_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mass_sends
    ADD CONSTRAINT mass_sends_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: pix_transactions pix_transactions_click_id_internal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pix_transactions
    ADD CONSTRAINT pix_transactions_click_id_internal_fkey FOREIGN KEY (click_id_internal) REFERENCES public.clicks(id) ON DELETE CASCADE;


--
-- Name: pixel_configurations pixel_configurations_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pixel_configurations
    ADD CONSTRAINT pixel_configurations_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: pressel_pixels pressel_pixels_pixel_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pressel_pixels
    ADD CONSTRAINT pressel_pixels_pixel_config_id_fkey FOREIGN KEY (pixel_config_id) REFERENCES public.pixel_configurations(id) ON DELETE CASCADE;


--
-- Name: pressel_pixels pressel_pixels_pressel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pressel_pixels
    ADD CONSTRAINT pressel_pixels_pressel_id_fkey FOREIGN KEY (pressel_id) REFERENCES public.pressels(id) ON DELETE CASCADE;


--
-- Name: pressels pressels_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pressels
    ADD CONSTRAINT pressels_bot_id_fkey FOREIGN KEY (bot_id) REFERENCES public.telegram_bots(id) ON DELETE CASCADE;


--
-- Name: pressels pressels_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pressels
    ADD CONSTRAINT pressels_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: pressels pressels_utmify_integration_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pressels
    ADD CONSTRAINT pressels_utmify_integration_id_fkey FOREIGN KEY (utmify_integration_id) REFERENCES public.utmify_integrations(id) ON DELETE SET NULL;


--
-- Name: telegram_bots telegram_bots_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_bots
    ADD CONSTRAINT telegram_bots_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: telegram_chats telegram_chats_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_chats
    ADD CONSTRAINT telegram_chats_bot_id_fkey FOREIGN KEY (bot_id) REFERENCES public.telegram_bots(id) ON DELETE CASCADE;


--
-- Name: telegram_chats telegram_chats_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_chats
    ADD CONSTRAINT telegram_chats_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: telegram_messages telegram_messages_chat_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.telegram_messages
    ADD CONSTRAINT telegram_messages_chat_record_id_fkey FOREIGN KEY (chat_record_id) REFERENCES public.telegram_chats(id) ON DELETE CASCADE;


--
-- Name: thank_you_pages thank_you_pages_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.thank_you_pages
    ADD CONSTRAINT thank_you_pages_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: user_achievements user_achievements_achievement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_achievement_id_fkey FOREIGN KEY (achievement_id) REFERENCES public.achievements(id);


--
-- Name: user_achievements user_achievements_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id);


--
-- Name: user_sessions user_sessions_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_bot_id_fkey FOREIGN KEY (bot_id) REFERENCES public.telegram_bots(id) ON DELETE CASCADE;


--
-- Name: user_sessions user_sessions_current_flow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_current_flow_id_fkey FOREIGN KEY (current_flow_id) REFERENCES public.flows(id) ON DELETE SET NULL;


--
-- Name: user_sessions user_sessions_current_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_current_node_id_fkey FOREIGN KEY (current_node_id) REFERENCES public.flow_nodes(id) ON DELETE SET NULL;


--
-- Name: utmify_integrations utmify_integrations_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.utmify_integrations
    ADD CONSTRAINT utmify_integrations_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

